{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>Current language: {{ LANGUAGE_CODE }}</div>
    {% get_current_language as LANGUAGE_CODE %}
    <p>{% trans  "Welcome to our page" %}</p>

{% language 'en' %}
    {% get_current_language as LANGUAGE_CODE %}
    <div>Switch language: {{ LANGUAGE_CODE }}</div>
    <p>{% trans  "Welcome to our page" %}</p>
{% endlanguage %}

<form class="form-inline ml-3-md" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language" class="form-control">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }}
                </option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button type="submit" class="btn btn-inline btn-sm bg-warning">
                {% trans "Select" %}
            </button>
        </div>
    </div>
 </form>


</body>
</html>